<div id="app">
  <h2> Incomplete Tasks: </h2>
  <ul>
    <li v-for ="task in tasks" v-on:click="toggleComplete(task)" v-bind:class="{strike: task.completed}"> 
    {{ task.text }}
    </li>
  </ul>
  <h4> Add A Task</h4>
  <div>
    <input type='text' v-model='newTask'>
    <button v-on:click='addTask()'> Add task </button> 
  </div>
</div>