<div id="app">
<div>
    <h2> Incomplete Tasks: {{ incompleteTasks() }} </h2>
    <ul>
      <li v-for ="task in tasks" v-on:click="toggleComplete(task)" v-bind:class="{strike: task.completed}"> 
      {{ task.text }}
      </li>
    </ul>
  </div>
  <h4> Add A Task</h4>
  <div>
    <input type='text' v-model='newTask'>
    <button v-on:click='addTask()'> Add task </button> 
  </div>
  <div>
  <button v-on:click='removeCompletedTasks()'> Clear Completed Tasks </button> 
  </div>
</div>